/vendor
/node_modules
/.env
/.env.*.local
/public/storage
/storage/*.key
/storage/debugbar
/storage/framework/cache/data
/storage/keys
/storage/oauth-private.key
/storage/oauth-public.key
Homestead.yaml
Homestead.json
npm-debug.log
yarn-error.log
.DS_Store
/.phpunit.result.cache
.idea/
.vscode/
.env.local
.phpunit.result.cache
